
nav,
main,
footer,
figure {
    display: block;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, sans-serif;
}

#wrapper {
    background-color:;
    /* width: auto;*/
    width: 100%;
    margin: auto;
}

header {
    background-color: skyblue;
    color: #00005D;
    font-size: 150%;
    padding: 0px 10px;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

#tag {
    padding-right: 20px;
    font-size: .80em;
    font-style: italic;
    text-align: right;
    color: #ffffff;
}

h2 {
    color: #869dc7;
    font-family: arial, sans-serif;
    font-size: 200%;
}
h3{
    color: midnightblue;
}


nav ul {
    margin: auto;
}

ul {
    height: auto;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color:midnightblue;
    margin:10px;
}

li {
    font-family:sans-serif;
    font-size: 30px;
    display: inline-block;
    margin:10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

li a {
    color: white;
    text-decoration: none;
}
.list{
   font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
}

main {
    margin: 30px 30px;
    background-color: #ffffff;
    color: #000000;
}

img{
    width: 100%;
    height: auto;
}
.image1{
    width: 50%;
    height: 50%;
}
.image2{
    width: 30%;
    height: 30%;
}
.image3{
    width:20%;
    height:20%;
}


td,th{
    padding: 6px;
    text-align: left;
    border: 1px solid #ccc;
}

footer {
    font-size: 90%;
    text-align: center;
    clear: right;
    padding: 20px;
    background-color: lightskyblue;
}




/*
Generic Styling, for Desktops/Laptops
*/

table {
width: 100%;
border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
background: #eee;
}
th {
background: lightskyblue;
color: white;
font-weight: bold;
}
td, th {
padding: 6px;
border: 1px solid #ffffff;
text-align: left;
}

/* Responsive Table */
@media only screen and (max-width: 760px),
    (min-device-width:768px) and (max-device-width:1024px){
        
        table, thead, tbody, th, td, tr{
            display: block;
        }
            
        thead tr{
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr{
            border: 1px solid #ccc;
        }
        td{
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }
        td:before{
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
      
        td:nth-of-type(1):before{content: "Sr_No";}
        td:nth-of-type(2):before{content: "Department";} 
        td:nth-of-type(3):before{content: "Doctor's_Name";}
        td:nth-of-type(4):before{content: "Hours";}
} 

/*............for display..............*/
 @media only screen and (max-width:1024) {
    body {
        margin: 0;
    }
    #wrapper {
        width: auto;
    }
    main {
        margin-left: 0;
    }

     nav ul {
    margin: auto;
}

ul {
    height: auto;
    width: 1250px;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color:skyblue;
}

li {
    font-family: cursive;
    font-size: 30px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

li a {
    color: white;
    text-decoration: none;
}
    h1,
    h2 {
        font-size: 120%;
    }
    p {
        font-size: 50%;
    }
     
    img{
        width: 100%;
        height: auto;
      }
      .image2{
         width: 100%;
         height: auto;
     }
    .image3{
    color: white;
    white-space: pre-line;
    font-size: 28px;
    margin:auto;
       }
     
}

@media only screen and (max-width:768px) {
    h1{
        margin: auto;
        text-align: center;
        font-size: 20px;
    }
    
    h2 {
        font-size: 18px;
        margin: auto;
    }
    p {

        font-size:15px;
    }

    
    nav ul {
    margin: auto;
}

ul {
    height: auto;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: midnightblue;
}

li {
    font-family: cursive;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: auto;
}
    .list{
       white-space: pre-line;
        float: left;
    }
li a {
    color: white;
    text-decoration: none;
}     
    main{
        margin: auto;
    }
    
     img{
        width: 100%;
        height: auto;
     }
    .image2{
         width: 100%;
         height: auto;
     }
    .image3{
    white-space: pre-line;
    font-size: 28px;
    margin:auto;
    height: 150px;
    width: 150px;
    }
    
    th,td{
        font-size: 11px;
        margin: auto;
    }


}


